.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  position: relative;
  min-height: 94vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-size: 3rem;
  text-align: center;
  margin: 15px 0;
  color: #2c3e50;
}

.backButton {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background: none;
  border: none;
  color: #000;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s;
}

.backButton:hover {
  color: #555;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}

.section {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 15px 0;
  padding: 18px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.section:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.areasOfStudySection {
  background-color: #e0f7e9;
  border-left: 5px solid #81c784;
  flex: 3;
}

.areasOfStudySection .date {
  background-color: #81c784;
}

.graduationSection {
  background-color: #ffe0b2;
  border-left: 5px solid #ffb74d;
  flex: 1;
}

.awardsSection {
  background-color: #fff9c4;
  flex: 2;
  border-left: 5px solid #fbc02d;
  min-height: 300px;
  height: auto;
  overflow-y: auto;
  width: 60%;
}

.awardsSection .date {
  background-color: #fbc02d;
}

.classesSection {
  background-color: #ffebee;
  flex: 1;
  border-left: 5px solid #e57373;
  min-height: 300px;
  height: auto;
  overflow-y: auto;
  width: 35%;
}

.classesSection .date {
  background-color: #e57373;
}

.sectionTitle {
  font-size: 2rem;
  margin-bottom: 12px;
  color: #34495e;
  font-weight: bold;
}

.sectionContent {
  font-size: 1.1rem;
  line-height: 1.5;
  color: #555;
}

.date {
  display: inline-block;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  margin-left: 5px;
}

.awardDescription {
  margin-top: 5px;
  font-size: 0.9em;
  color: #777;
  text-align: left;
  padding: 0 20px;
}

.classesContent {
  display: inline;
}

.classesContent li {
  display: inline;
  margin-right: 10px;
}

.gpa {
  display: inline-block;
  background-color: #2ecc71;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  margin-left: 10px;
}

.flexContainer {
  display: flex;
  gap: 15px;
  justify-content: space-between;
}

.education-container {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.education-title {
  font-size: 4rem;
  text-align: center;
  margin: 1rem 0;
  color: #333;
  line-height: 1.15;
  display: flex;
  align-items: center;
}

.education-section {
  margin-bottom: 2rem;
}

.section-title {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #0070f3;
}

.section-content {
  font-size: 1.2rem;
  color: #555;
  line-height: 1.6;
}

.section-content ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

.section-content li {
  margin-bottom: 0.5rem;
}

.areasOfStudyTitle {
  font-size: 2em;
  margin: 15px 0;
  color: #333;
  font-weight: bold;
}

.areasOfStudyContent {
  font-size: 1.2em;
  margin: 15px 0;
  color: #555;
}

.awardsTitle, .classesTitle {
  font-size: 2em;
  margin: 15px 0;
  color: #333;
  font-weight: bold;
}

.awardsContent, .classesContent {
  font-size: 1.2em;
  margin: 15px 0;
  color: #555;
} 